<!DOCTYPE html>
<html lang="en">
<!--
<% const isAdmin = true %>   //ở đây ta có biến isAdmin 
<% const arrSubjects = ['Node' , 'Angular', 'Mongo', 'Express'] %>  // mảng
<% const arrPeople = [
    { name: 'Ti', age: 10 },
    { name: 'Teo', age: 11},
    { name: 'Tun', age: 12},
]; %>
-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= username%></h1>
    <% if(isAdmin) { %>
        <a href="#"> Trang chu</a>
    <%  } else { %>
        <a href="#">quay lai</a>
    <%  } %> <!--cách viết này rất dễ sinh ra lỗi, ta cứ viết if else rồi thêm <%%> để đỡ phát sinh lỗi -->


    <!--arrSubjects.forEach(subject => { 
        <h3>MEAD</h3>
     }); --> <!-- để không sinh ra lỗi ta viết cấu trúc logic xong rồi thêm <% %>-->
    <% arrSubjects.forEach(subject => { %>
        <h3><%= subject %></h3>
    <% }); %> <!-- forEach() nhận tham số là một function, 1. với mỗi phần tử subject mình để trong thẻ h3    
    -->

    <!--arrPeople.forEach(peoson => {
        <h3>ti</h3>
        <p>10</p>
    })-->
    
    <% arrPeople.forEach(person => { %>
        <!-- nếu đoạn này quá dài thì ta tách nó ra file personRow
        <div>
            <h3>Ten: <%= person.name %></h3>
            <p>Tuoi: <%= person.age %></p>
        </div>
        -->
        <!--  <%- include('./partials/personRow.ejs', person) %> // nếu bên này chỉ truyền  biến person không thì bên personRow ta sửa lại-->
        <%- include('./partials/personRow.ejs', {person}) %> <!--//khai báo biến person : person ,còn này ngược lại -->
    <% }); %> <!-- chưa biết sai gì ở đây phần cuối-->

    <script src = "reload/reload.js"> </script>
</body>
</html>